.App {
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: space-between;
}

.Balance {
  color: white;
}

.Settings {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GameModeSelect {
  width: 170px;
}

.NetworkSelect {
  width: 200px;
}

.Content {
  display: flex;
  padding: 24px 50px 0;
}

.GameRule p {
  text-indent: 2em;
}

.AlertMessages .ant-alert {
  margin-top: 30px;
}
